<script>
$(function() {
  $('.c-pageHeader__searchInput').click(function(){
    $('.c-pageHeader__searchBox').show();
  });
  $('.c-pageHeader__submit, .c-pageHeader__searchClose').click(function(){
    $(this).parent().parent().find('.c-pageHeader__searchBox').hide();
  });
});
</script>
<div class="c-pageHeader">
  <div class="c-pageHeader__info">
    <% if (meta.pageTitle === '有楽町マルイ 1F カレンダリウム1') { %>
      <a href="/space.html" class="c-pageHeader__back">
        <i class="fa fa-chevron-left"></i> 一覧に戻る
      </a>
    <% } %>
    <% if (meta.pageTitle === 'みのる陶器') { %>
      <a href="/tenant.html" class="c-pageHeader__back">
        <i class="fa fa-chevron-left"></i> 一覧に戻る
      </a>
    <% } %>
    <h1 class="c-pageHeader__title"><%= meta.pageTitle %></h1>
    <% if (meta.pageTitle === '見込み案件') { %><%- include('_search-prospect') -%><% } %>
    <% if (meta.pageTitle === '商談') { %><%- include('_search-opportunity') -%><% } %>
    <% if (meta.pageTitle === 'イベント区画') { %><%- include('_search-space') -%><% } %>
    <% if (meta.pageTitle === 'テナント') { %><%- include('_search-tenant') -%><% } %>
    <% if (meta.pageTitle === 'メッセージ') { %><% } %>
  </div>
</div>

<!--modal-->
<div class="c-modalWindow c-modalWindow--huge js-modalWindow-notification">
  <div class="c-modalWindow__body c-modalWindow__body--huge" style="width: 480px;">
    <div class="c-modalWindow__header c-modalWindow__header--huge">
      <p class="c-modalWindow__title">通知</p>
      <div class="c-modalWindow__close js-modalWindowClose"></div>
    </div>
    <div class="c-modalWindow__content c-modalWindow__content--huge c-modalWindow__content--bg">
      <div class="p-notificationList"> 
        <!-- 通知フォーマット -->
        <div class="p-notificationList__item is-unread">
          <p class="p-notificationList__itemTitle">
            通知タイトル
          </p>
          <p class="p-notificationList__itemDescription">
            通知文章。次のアクションが明確な場合にはアクションを明示する。通知文章。次のアクションが明確な場合にはアクションを明示する。
          </p>
          <div class="p-notificationList__itemBottom">
            <p class="p-notificationList__itemSpace">施設名 フロア名 スペース名 名前が長い場合はこのような表示がされます</p>
            <p class="p-notificationList__itemDate">yyyy年mm月dd日 hh:mm</p>
          </div>
        </div>
        <!-- 商談担当者追加通知 -->
        <div class="p-notificationList__item is-unread">
          <p class="p-notificationList__itemTitle">
            商談担当者に追加されました
          </p>
          <p class="p-notificationList__itemDescription">
            みのる陶器さまとの商談担当者に追加されました。商談内容を確認してください。
          </p>
          <div class="p-notificationList__itemBottom">
            <p class="p-notificationList__itemSpace">三井アウトレットパーク横浜ベイサイド 東館 202</p>
            <p class="p-notificationList__itemDate">2021年12月23日 23:11</p>
          </div>
        </div>
        <!-- 問い合わせ通知 -->
        <div class="p-notificationList__item">
          <p class="p-notificationList__itemTitle">
            問い合わせが届きました
          </p>
          <p class="p-notificationList__itemDescription">
            みのる陶器さまから問い合わせが届きました。内容をご確認の上、ご返信ください。
          </p>
          <div class="p-notificationList__itemBottom">
            <p class="p-notificationList__itemSpace">有楽町マルイ 5F カレンダリウム4（夏季特別イベント区画）</p>
            <p class="p-notificationList__itemDate">2021年12月23日 23:11</p>
          </div>
        </div>
        <!-- 新規メッセージ通知 -->
        <div class="p-notificationList__item">
          <p class="p-notificationList__itemTitle">
            メッセージが届きました
          </p>
          <p class="p-notificationList__itemDescription">
            みのる陶器さまからメッセージが届きました。内容をご確認の上、ご返信ください。
          </p>
          <div class="p-notificationList__itemBottom">
            <p class="p-notificationList__itemSpace">戸塚モディ(まるい食遊館戸塚店) 1F カレンダリウム1</p>
            <p class="p-notificationList__itemDate">2021年12月23日 23:11</p>
          </div>
        </div>
        <!-- 予約確定通知 -->
        <div class="p-notificationList__item is-unread">
          <p class="p-notificationList__itemTitle">
            予約が確定しました
          </p>
          <p class="p-notificationList__itemDescription">
            みのる陶器さまの予約が確定しました。予約内容をご確認の上、出店までの流れなど必要に応じてご案内ください。
          </p>
          <div class="p-notificationList__itemBottom">
            <p class="p-notificationList__itemSpace">有楽町マルイ 5F カレンダリウム4（夏季特別イベント区画）</p>
            <p class="p-notificationList__itemDate">2021年12月23日 23:11</p>
          </div>
        </div>
        <!-- キャンセル申請通知 -->
        <div class="p-notificationList__item is-unread">
          <p class="p-notificationList__itemTitle">
            予約のキャンセル申請が届きました
          </p>
          <p class="p-notificationList__itemDescription">
            みのる陶器さまから予約のキャンセル申請が届きました。申請内容をご確認の上、問題なければキャンセルを承認してください。
          </p>
          <div class="p-notificationList__itemBottom">
            <p class="p-notificationList__itemSpace">有楽町マルイ 1F カレンダリウム1</p>
            <p class="p-notificationList__itemDate">2021年12月23日 23:11</p>
          </div>
        </div>
        <!-- キャンセル完了通知 -->
        <div class="p-notificationList__item is-unread">
          <p class="p-notificationList__itemTitle">
            予約のキャンセルが完了しました
          </p>
          <p class="p-notificationList__itemDescription">
            みのる陶器さまとの予約がキャンセルされました。キャンセル内容をご確認ください。
          </p>
          <div class="p-notificationList__itemBottom">
            <p class="p-notificationList__itemSpace">有楽町マルイ 1F カレンダリウム1</p>
            <p class="p-notificationList__itemDate">2021年12月23日 23:11</p>
          </div>
        </div>
        <!-- バッティング通知 -->
        <div class="p-notificationList__item is-unread">
          <p class="p-notificationList__itemTitle">
            再提案が必要な商談があります
          </p>
          <p class="p-notificationList__itemDescription">
            検討していた期間で別の予約が確定しました。利用期間・開催スペース等を再検討の上、テナントに再度ご提案ください。
          </p>
          <div class="p-notificationList__itemBottom">
            <p class="p-notificationList__itemSpace">有楽町マルイ 1F カレンダリウム1</p>
            <p class="p-notificationList__itemDate">2021年12月23日 23:11</p>
          </div>
        </div>
        <!-- 商談状況変更通知 -->
        <div class="p-notificationList__item is-unread">
          <p class="p-notificationList__itemTitle">
            商談状況が「商談調整中」になりました
          </p>
          <p class="p-notificationList__itemDescription">
            みのる陶器さまとの商談状況が更新されました。
          </p>
          <div class="p-notificationList__itemBottom">
            <p class="p-notificationList__itemSpace">有楽町マルイ 1F カレンダリウム1</p>
            <p class="p-notificationList__itemDate">2021年12月23日 23:11</p>
          </div>
        </div>
        <!-- スペース公開通知 -->
        <div class="p-notificationList__item is-unread">
          <p class="p-notificationList__itemTitle">
            スペースが公開されました
          </p>
          <p class="p-notificationList__itemDescription">
            OMEMIE・SHOPCOUNTERに公開されました。
          </p>
          <div class="p-notificationList__itemBottom">
            <p class="p-notificationList__itemSpace">有楽町マルイ 1F カレンダリウム1</p>
            <p class="p-notificationList__itemDate">2021年12月23日 23:11</p>
          </div>
        </div>
        <!-- ステータス変更リマインド通知 -->
        <div class="p-notificationList__item is-unread">
          <p class="p-notificationList__itemTitle">
            しばらく商談状況が更新されていない商談があります
          </p>
          <p class="p-notificationList__itemDescription">
            みのる陶器さまとの商談状況が7日間更新されていません。商談内容を確認して更新するか、対応が不要な場合は「見送り」にすることができます。
          </p>
          <div class="p-notificationList__itemBottom">
            <p class="p-notificationList__itemSpace">有楽町マルイ 1F カレンダリウム1</p>
            <p class="p-notificationList__itemDate">2021年12月23日 23:11</p>
          </div>
        </div>
        <!-- スペース変更完了通知 -->
        <div class="p-notificationList__item is-unread">
          <p class="p-notificationList__itemTitle">
            スペース情報の変更が反映されました
          </p>
          <p class="p-notificationList__itemDescription">
            スペース情報の変更がOMEMIE・SHOPCOUNTERにて反映されました。
          </p>
          <div class="p-notificationList__itemBottom">
            <p class="p-notificationList__itemSpace">有楽町マルイ 1F カレンダリウム1</p>
            <p class="p-notificationList__itemDate">2021年12月23日 23:11</p>
          </div>
        </div>
        <div class="p-notificationList__more">
          <button class="c-outlineButton c-outlineButton--newtral">もっと見る</button>
        </div>
      </div>
    </div>
    <div class="c-modalWindow__footer c-modalWindow__footer--huge u-ta-right">
      <span class="c-button c-button--newtral c-button--auto">全て既読</span>
    </div>
  </div>
</div>
<!--/modal-->