<%- include('templates/_head') -%>

<body>
  <main>
    <h1>
      <img
        src="/images/fv.png"
        class="fv-image"
        alt="人気のマットレス 6ブランド徹底比較"
      />
    </h1>
    <section id="section1">
      <p>
        そんなあなたのお悩みを解消するために、100人以上の方への体験調査と睡眠や整体のプロの方5名に6つのマットレスをレビューしていただきました！
      </p>
      <ul class="col col-2">
        <li class="col-item">
          <img src="/images/survey-image-1.jpg" />
          <p class="caption">100名によるマットレス体験会</p>
        </li>
        <li class="col-item">
          <img src="/images/survey-image-2.jpg" />
          <p class="caption">体験会を通したアンケート調査</p>
        </li>
      </ul>
    </section>
    <section id="section2">
      <h2>睡眠や整体のプロ5名による監修</h2>
      <ul class="expert-list">
        <li class="expert-item">
          <img src="/images/icon-nakatomi.png" />
          <p class="caption">
            <span>認定エステティシャン／セラピスト</span>
            中冨先生
          </p>
        </li>
        <li class="expert-item">
          <img src="/images/icon-kimura.png" />
          <p class="caption">
            <span>鍼灸あん摩マッサージ指圧師</span>
            木村先生
          </p>
        </li>

        <li class="expert-item">
          <img src="/images/icon-koshiishi.png" />
          <p class="caption">
            <span>こしいし整体院 院長<br />鍼灸師・柔道整復師</span>
            輿石先生
          </p>
        </li>

        <li class="expert-item">
          <img src="/images/icon-masaki.png" />
          <p class="caption">
            <span>改眠マスターセラピスト<br />sleeplus代官山</span>
            政木先生
          </p>
        </li>

        <li class="expert-item">
          <img src="/images/icon-natsuyama.png" />
          <p class="caption">
            <span>医師<br />（副院長・整形外科部長）</span>
            夏山先生
          </p>
        </li>

      </ul>
    </section>

    <section id="section3">
      <h2>入眠するまでの人体のメカニズム</h2>
      <div class="mechanism-image">
        <img src="/images/mechanism-image.png" />
        <p class="quote">参照：https://digitalpr.jp/r/1039910399</p>
      </div>
      <p>
        交感神経は朝に働きはじめ、昼過ぎにピークを迎えます。一方、リラックスしているときに働く副交感神経は、日没頃から活発になり、睡眠中にピークを迎えます。そのため、スムーズな入眠にはベッドに入った際にリラックスすることができているかが重要になります。
      </p>
      <p>
        ベッドに入る際にリラックスしている状態を感じられるかは、マットレスの肌触りや横になった際に体への負担を感じにくいかの他にも適切な室温にすることや、リラックス効果のあるアロマを炊いたりと様々な方法があります。
      </p>
      <p>
        今回の調査では、マットレスに着目して、リラックスした状態を感じられるおすすめのマットレスのランキングをご紹介していきます。
      </p>
    </section>

    <section id="section4">
      <h2>
        寝心地がいいと感じる
        <br />
        マットレスは？
      </h2>
      <p>100人の方に実際に寝て体感してもらいました！</p>
      <img src="/images/survey-image-3.jpg" />
      <p>
        エマスリープ、NELL、Limne、トゥルースリーパー、コアラマットレス、エアウィーブのマットレスを名前を隠した状態で体験してもらいアンケート調査
      </p>
      <!-- <h3 class="emphasis-sentence">
        20名の方から睡眠ログを提供いただき、実際の睡眠の快適度合いを調査
      </h3>
      <img src="/images/dummy.png" /> -->
    </section>

    <section id="section5">
      <h2>
        人気のマットレスランキング
      </h2>
      <div class="ranking">
        <div class="grid-container">
          <div class="grid-header">
            <div>順位</div>
            <div>商品名</div>
            <div>快適度</div>
            <div>気持ち良さ</div>
            <div>負担の少なさ</div>
            <div>寝返り</div>
            <div>脱力感</div>
            <div>通気性</div>
            <div>総平均値</div>
          </div>
        </div>
        <div class="grid-row">
          <div class="icon-no1">1</div>
          <div>Limne（リムネ）</div>
          <div>13.97</div>
          <div>13.83</div>
          <div>13.77</div>
          <div>13.28</div>
          <div>14.00</div>
          <div>12.25</div>
          <div>13.52</div>
        </div>
        <div class="grid-row">
          <div class="icon-no2">2</div>
          <div>コアラマットレス</div>
          <div>13.30</div>
          <div>13.13</div>
          <div>12.70</div>
          <div>12.68</div>
          <div>12.62</div>
          <div>11.83</div>
          <div>12.72</div>
        </div>
        <div class="grid-row">
          <div class="icon-no3">3</div>
          <div>エマスリープ</div>
          <div>12.55</div>
          <div>12.47</div>
          <div>12.02</div>
          <div>12.02</div>
          <div>12.08</div>
          <div>11.18</div>
          <div>12.05</div>
        </div>
        <div class="grid-row">
          <div>4</div>
          <div>NELL</div>
          <div>11.40</div>
          <div>11.33</div>
          <div>11.17</div>
          <div>11.23</div>
          <div>11.13</div>
          <div>10.23</div>
          <div>11.08</div>
        </div>
        <div class="grid-row">
          <div>5</div>
          <div>エアウィーヴ</div>
          <div>9.02</div>
          <div>8.55</div>
          <div>8.35</div>
          <div>8.58</div>
          <div>8.03</div>
          <div>8.63</div>
          <div>8.53</div>
        </div>
        <div class="grid-row">
          <div>6</div>
          <div>トゥルースリーパー</div>
          <div>8.47</div>
          <div>8.15</div>
          <div>8.33</div>
          <div>8.53</div>
          <div>7.75</div>
          <div>9.17</div>
          <div>8.40</div>
        </div>
      </div>
      <div class="attention">
        ※アンケート数値を元に100点満点にて算出の注釈
      </div>
      <div class="scroll">
        <i class="fa fa-arrows-left-right"></i>
        左右にスクロールできます
      </div>
    </section>

    <section id="section6" class="search-section">
      <h2>
        体験者の属性別ランキングを検索する
      </h2>
      <h3 class="emphasis-sentence">
        <span>
          性別、年代、体重、職業でランキング！
        </span>
        気になる属性でマットレスを検索！
      </h3>
      
      <div class="search-options">
        <div class="option-box">
          <div class="option-name">性別から探す</div>
          <form class="option-inner" id="form-sex">
            <ul class="options">
              <li>
                <input class="search-option-input" type="radio" id="option-male" name="sex" value="male">
                <label for="option-male" class="option-label"><i class="fa fa-check"></i>男性</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-female" name="sex" value="female">
                <label for="option-female" class="option-label"><i class="fa fa-check"></i>女性</label>
              </li>
            </ul>
            <div name="sex" id="check-sex" type="submit" class="search-button">
              <i class="fa fa-search"></i>検索
            </div>
          </form>
        </div>

        <div class="option-box">
          <div class="option-name">年代から探す</div>
          <form class="option-inner" id="form-old">
            <ul class="options">
              <li>
                <input class="search-option-input" type="radio" id="option-18old" name="old" value="18old">
                <label for="option-18old" class="option-label"><i class="fa fa-check"></i>18歳〜</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-20old" name="old" value="20old">
                <label for="option-20old" class="option-label"><i class="fa fa-check"></i>20歳〜</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-30old" name="old" value="30old">
                <label for="option-30old" class="option-label"><i class="fa fa-check"></i>30歳〜</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-40old" name="old" value="40old">
                <label for="option-40old" class="option-label"><i class="fa fa-check"></i>40歳〜</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-50old" name="old" value="50old">
                <label for="option-50old" class="option-label"><i class="fa fa-check"></i>50歳〜</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-60old" name="old" value="60old">
                <label for="option-60old" class="option-label"><i class="fa fa-check"></i>60歳〜</label>
              </li>              
            </ul>
            <div name="old" id="check-old" type="submit" class="search-button">
              <i class="fa fa-search"></i>検索
            </div>
          </form>
        </div>

        <div class="option-box">
          <div class="option-name">体重から探す</div>
          <form class="option-inner" id="form-weight">
            <ul class="options">
              <li>
                <input class="search-option-input" type="radio" id="option-40kg" name="weight" value="40kg">
                <label for="option-40kg" class="option-label"><i class="fa fa-check"></i>〜40kg</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-50kg" name="weight" value="50kg">
                <label for="option-50kg" class="option-label"><i class="fa fa-check"></i>40kg~50kg</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-60kg" name="weight" value="60kg">
                <label for="option-60kg" class="option-label"><i class="fa fa-check"></i>50kg~60kg</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-70kg" name="weight" value="70kg">
                <label for="option-70kg" class="option-label"><i class="fa fa-check"></i>60kg~70kg</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-71kg" name="weight" value="71kg">
                <label for="option-71kg" class="option-label"><i class="fa fa-check"></i>71kg〜</label>
              </li>           
            </ul>
            <div name="weight" id="check-weight" type="submit" class="search-button">
              <i class="fa fa-search"></i>検索
            </div>
          </form>
        </div>

        <div class="option-box">
          <div class="option-name">職業から探す</div>
          <form class="option-inner" id="form-work">
            <ul class="options">
              <li>
                <input class="search-option-input" type="radio" id="option-sales" name="work" value="sales">
                <label for="option-sales" class="option-label"><i class="fa fa-check"></i>営業職</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-desk-work" name="work" value="desk-work">
                <label for="option-desk-work" class="option-label"><i class="fa fa-check"></i>デスクワーク職</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-service" name="work" value="service">
                <label for="option-service" class="option-label"><i class="fa fa-check"></i>サービス職</label>
              </li>
              <li>
                <input class="search-option-input" type="radio" id="option-healthcare" name="work" value="healthcare">
                <label for="option-healthcare" class="option-label"><i class="fa fa-check"></i>医療従事者・<br/>整体師</label>
              </li>
            </ul>
            <div name="work" id="check-work" type="submit" class="search-button">
              <i class="fa fa-search"></i>検索
            </div>
          </form>
        </div>
      </div>

    </section>

    
    <!-- 男性 -->
    <section id="male" class="item-section">
      <h2>
        男性に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>

    </section>

    <!-- 女性 -->
    <section id="female" class="item-section">
      <h2>
        女性に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 18歳〜 -->
    <section id="18old" class="item-section">
      <h2>
        18歳以上の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_emma') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_koala') -%>
      </div>
    </section>

    <!-- 20歳〜 -->
    <section id="20old" class="item-section">
      <h2>
        20歳以上の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>
  
    <!-- 30歳〜 -->
    <section id="30old" class="item-section">
      <h2>
        30歳以上の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 40歳〜 -->
    <section id="40old" class="item-section">
      <h2>
        40歳以上の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 50歳〜 -->
    <section id="50old" class="item-section">
      <h2>
        50歳以上の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_nell') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 60歳〜 -->
    <section id="60old" class="item-section">
      <h2>
        60歳以上の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_nell') -%>
      </div>
    </section>

    <!-- ~40kg -->
    <section id="40kg" class="item-section">
      <h2>
        40kg以下の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_emma') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_koala') -%>
      </div>
    </section>

    <!-- 50kg -->
    <section id="50kg" class="item-section">
      <h2>
        40kg~50kgの方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 60kg -->
    <section id="60kg" class="item-section">
      <h2>
        50kg~60kgの方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 70kg -->
    <section id="70kg" class="item-section">
      <h2>
        60kg~70kgの方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 71kg -->
    <section id="71kg" class="item-section">
      <h2>
        71kg以上の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 営業職 -->
    <section id="sales" class="item-section">
      <h2>
        営業職の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- デスクワーク職 -->
    <section id="desk-work" class="item-section">
      <h2>
        デスクワーク職の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_nell') -%>
      </div>
    </section>

    <!-- サービス職 -->
    <section id="service" class="item-section">
      <h2>
        サービス職の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>

    <!-- 医療従事者・整体師 -->
    <section id="healthcare" class="item-section">
      <h2>
        医療従事者・整体師の方に<br/>
        おすすめのマットレスは？
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>
    </section>


    <!-- 総合 -->
    <section class="item-section all">
      <h2>
        マットレス総合ランキング
      </h2>

      <div class="item-info-wrapper">
        <p class="item-rank no1">ランキング1位</p>

        <%- include('templates/_limne') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no2">ランキング2位</p>
        <%- include('templates/_koala') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank no3">ランキング3位</p>
        <%- include('templates/_emma') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank">ランキング4位</p>
        <%- include('templates/_nell') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank">ランキング5位</p>
        <%- include('templates/_airweave') -%>
      </div>

      <div class="item-info-wrapper">
        <p class="item-rank">ランキング6位</p>
        <%- include('templates/_truesleeper') -%>
      </div>

    </section>

  </main>
  <%- include('templates/_footer') -%>
</body>

<script>
  window.onload = function () {
    const checkButton = document.getElementsByClassName('search-button');

    for (i = 0; i < checkButton.length; i++) {
      checkButton[i].addEventListener('click', function () {
        const buttonName = this.getAttribute('name');
        const searchForm = document.getElementById(`form-${buttonName}`);
        const radioNodeList = searchForm.elements[buttonName];
        const checkValue = radioNodeList.value;
        
        const targetSection = document.getElementById(checkValue);
        const otherSection = document.getElementsByClassName('item-section');

        for (n = 0; n < otherSection.length; n++) {
          otherSection[n].classList.remove('is-show');
          targetSection.classList.add('is-show');
        }
        const targetPosition = targetSection.getBoundingClientRect();
        const targetTop = targetPosition.top + window.pageYOffset;
        window.scrollTo({
          top: targetTop,
          behavior: 'smooth'
          }
        )
      });
    }
  };
</script>

<%- include('templates/_foot') -%>
